
*.ide-shm
*.dll
*.pdb
*.cache
UpdatedRectangleA-Star/obj/Debug/GeometryFriendsAgents.csproj.FileListAbsolute.txt
*.pdb
*.dll
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/.suo
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-wal
UpdatedRectangleA-Star/GeometryFriendsAgents.sln
UpdatedRectangleA-Star/obj/Debug/GeometryFriendsAgents.csproj.FileListAbsolute.txt
UpdatedRectangleA-Star/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpdatedRectangleA-Star/GeometryFriendsAgents.sln
UpdatedRectangleA-Star/GeometryFriendsAgents.csproj.user
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/Server/sqlite3/storage.ide-wal
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/Server/sqlite3/storage.ide-shm
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/Server/sqlite3/storage.ide
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/v16/.suo
UpdatedRectangleA-Star/GeometryFriendsAgents.csproj
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/xs/UserPrefs.xml
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/xs/sqlite3/storage.ide
UpdatedRectangleA-Star/.vs/GeometryFriendsAgents/xs/sqlite3/db.lock
GeometryFriendsCoop/.vs/GeometryFriendsAgents/v16/.suo
*.sln
*.dll
*.pdb
GeometryFriendsCoop/obj/Debug/GeometryFriendsAgents.csproj.CoreCompileInputs.cache
GeometryFriendsCoop/obj/Debug/GeometryFriendsAgents.csproj.FileListAbsolute.txt
GeometryFriendsCoop/obj/Debug/GeometryFriendsAgents.csprojAssemblyReference.cache
*.dll
*.pdb
GeometryFriendsCoop/GeometryFriendsAgents.sln
GeometryFriendsCoop/GeometryFriendsAgents.sln
GeometryFriendsCoop/.vs/GeometryFriendsAgents/v16/.suo
GeometryFriendsCoop/.vs/GeometryFriendsAgents/v16/Server/sqlite3/storage.ide
